body {
    margin: 0px;
    padding: 0px;
}

a {
    color: grey;
    text-decoration: none;
}

.ns:hover {
    color: white;
}


li {
    list-style: none;
}

.display {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    bottom: 40px;
    position: relative;
    right: 80px;
    padding-top: -30px;

}

.display,
li,
a {
    margin: 0 10px;
}

button {
    margin: 0 10px;
}

select {
    color: grey;
    font-size: 20px;
    border: none;
    list-style: none;
    background-color: black;
}

select:hover {
    color: white;
}

header {
    padding-top: 30px;
    height: 60px;
    background-color: black;

}


.img {
    padding-top: -2px;
    padding-left: 120px;
}

.rr {
    color: grey;
    font-size: 20px;
    background-color: black;
}

.center {
    text-align: center;
    color: black;
}

h1 {
    font-family: Arial, monospace;
    color: lightgrey;
    text-align: center;
    display: block;
    margin-top: -280px;
    font-size: 35px;
}

h4 {
    position: static;
    text-align: center;
    color: grey;
}

.jjj {

    border-radius: 5px;
    color: white;
    background-color: transparent;
    margin-left: 570px;
    height: 30px;
    font-size: 15px;
    width: 180px;
}

#sec {
    width: 100%;
    height: 100vh;
}

.hp {
    border-radius: 5px;
    color: white;
    background-color: darkorange;
    font-size: 15px;
    height: 30px;
    position: absolute;
    margin-left: px;
    width: 180px;
    margin-bottom: 500px;
}

.hp:hover {
    background: darkorange;
}

.jjj:hover {
    background: darkorange;
}

.h1 {
    font-size: 28px;
    font-family: sans-serif;
    color: darkgrey;
    margin: 200px;
    text-align: center;
}

h3 {
    color: grey;
    text-align: center;
    margin-top: -180px;
}

.h3 {
    text-align: center;
    color: grey;
    margin-top: 200px;

}

.hs {
    margin-top: 25px;
}

.asosiy {
    width: 100%;
    height: 60vh;
}

.id {
    text-align: center;
}

.asosid {
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    padding: 85px;
}

.ff p {
    text-align: center;
    width: 200px;
}

i {
    font-size: 40px;
}

.kk {
    margin-top: 40px;
}

.ss {
    margin-top: 200px;
    margin-right: 750px;
}

.na {
    margin-top: 1px;
    float: left;
    margin-left: 12px;
    text-align: justify;
}

.id {
    text-align: center;
}

.ass {
    color: black;
    margin-top: 220px;
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
}

.bh {
    color: black;
}

.cla {
    text-align: left;
}

.dd {
    text-align: center;
}

.sasa {
    color: black;
}

.ds {
    color: blue;
}

.momin {
    display: flex;
    justify-content: space-evenly;
}

.ms {
    margin-top: -25px;
    text-align: center;

}

.as1 {
    display: flex;
    justify-content: space-evenly
}

.uf {
    margin-left: 12px;
    margin-top: 25px;
    color: black;
}

.uo {
    margin-left: 10px;
}

.su {
    height: 60vh;
    width: 100%;

}

.shi {
    background-color: lightgrey;
    width: 82%;
    padding: 50px 25px 15px 20px;
    height: 140px;
    margin-left: 145px;
    margin-right: 80px;
}

.click {
    border: none;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 1130px;
    background-color: orange;
    height: 40px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: black;
    width: 100%;
    height: 200px;
}

.i {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;  
    margin: 2px;
    color: white;
}
*.i{
    margin: 12px;
}

.gh {
    padding: 20px 25px 20px 45px;
    text-align: justify;
    display: flex;
    position: absolute;
    justify-content: space-evenly;
}

.in {
    color: grey;
    padding: 15px;
}
.kl{
    color:white;
    margin-top: 30px;
    text-align: justify;
}
*.kl{
    margin: 12px;
}
 